<div id="manage_friends">

<h1><%= _("%s's friends") % profile.name %></h1>

<% cache_timeout(profile.manage_friends_cache_key(params), 4.hours) do %>
  <% if @friends.empty? %>
    <p>
      <em>
        <%= _('You have no friends yet.') %>
        <%= link_to _('Do you want to see other people in this environment?'), :controller => 'search', :action => 'assets', :asset => 'people' %>
      </em>
    </p>
  <% end %>

  <%= button_bar do %>
    <%= button(:search, _('Find people'), controller: 'search', action: 'assets', asset: 'people') %>
    <% unless @plugins.dispatch(:remove_invite_friends_button).include?(true) %>
      <%= button(:'user-plus', _('Invite people'), controller: 'invite', action: 'invite_friends') %>
    <% end %>
  <% end %>

  <%= render :partial => 'profile_list', :locals => { :profiles => @friends } %>

  <%= pagination_links @friends, :param_name => 'npage' %>
<% end %>

<% unless @suggestions.empty? %>
  <h2><%= _("Friends suggestions") %></h2>
  <div class="profiles-suggestions">
    <%= render :partial => 'shared/profile_suggestions_list', :locals => { :suggestions => @suggestions, :collection => :friends_suggestions, :per_page => 12 } %>
  </div>
<% end %>

</div><!-- end id="manage_friends" -->

<%= button_bar do %>
  <%= button(:back, _('Back to control panel'), controller: 'profile_editor') %>
<% end %>
