@import 'zoomable-image';

@import 'content/blog';
@import 'content/event';
@import 'content/folder';
@import 'content/image-gallery';
@import 'content/forum';
@import 'content/versions';

#article {
  a.menu-toggle {
    color: #212e3c;
  }

  .article-body-text-article {
    color: #333;
    font-size: 14px;
    line-height: 1.5;

    div {
      word-wrap: break-word;
    }

    a {
      font-size: 1em;
      &:hover {
        color: #666;
      }
    }
  }
}

#article-actions {
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

#article-actions a,
.comment-actions {
  white-space: nowrap;
}

#article-header .blog-cover {
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: 170px;
  margin-bottom: 5px;
}

#article-header .blog-cover img{
  width: 100%;
}

#article-tags {
  overflow: auto;
  a.tag {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 4px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #e5eff7;
    border: #a9cae4 solid 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #5b9bcd;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;
    line-height: 20px;
  }
}

#article-tags a {
  text-decoration: none;
}

#article-sub-header {
  height: 15px;
  margin-top: 5px;
}

#article-license {
  font-size: 10px;
  text-align: right;
  color: #AAA;
}

.article-footer {
  border-top: 2px solid #212e3c;
}

#article-cat {
  .categories-cloud {
    a {
      border: #e8e8e8 solid 1px;
      background-color: #346392;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      padding: 4px 8px;
      margin-bottom: 4px;
      margin-right: 2px;
      text-decoration: none;
      border-radius: 4px;
      font-weight: 700;
    }
  }
}
#article-source {
  color: #999;
  font-size: 11px;
  text-align: right;
  font-weight: bold;
}
#article-source a {
  font-weight: normal;
}
.article-lead, #article-body-field {
  margin-top: 10px;
  display: none;
}

#change-image {
  display: table-caption;
}

#article pre {
  white-space: pre-wrap;
  padding: 5px;
  border: 1px solid #d3d7cf;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#article pre, #article code {
  background: #eeeeec;
  color: #2e3436;
}
#article .article-body a.icon {
  padding: 0px 0px 3px 20px;
  border: none;
  background-repeat: no-repeat;
}
#article .article-body a.icon:hover {
  background-color: transparent;
}
#article #article-field-values {
  margin: 10px 0 15px;

  .custom-field-value {
    color: #aaa;
    font-size: 10px;

    span.field-name {
      margin-right: 5px;
      font-weight: 600;
    }
  }
}

#content div.path-to-parents {
  background: #e8e8e8;
  padding: 3px 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 5px;
  a.path-to-parent {
    margin-right: 5px;
    text-decoration: none;
    color: #212e3c;
    word-spacing: 0.9px;

    &:hover {
      font-weight: bold;
      word-spacing: normal;
    }

    i.fa {
      margin-right: 7px;
    }
  }
}

#content #article #article-header,
html.controller-cms #content .main-content {
  > h1 {
    margin-bottom: 0;
  }
}

